<section class="post-container">
{{#each collections.posts}}
  {{#unless this.draft}}
  <a class="post" href="{{ this.path.href }}">
    {{#if this.image}}
      <div class="image">
        <img src="{{ this.path.href }}{{ this.image }}" width="200" style="bottom: -14px;">
      </div>
      {{/if}}
      <h2>{{ or this.titleShort this.title }}</h2>
    <p>{{ this.description }}</p>
  </a>
  {{/unless}}
{{/each}}
</ul>